<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.sellerdemo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <dist:module dist:instant="true"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sellerhome.SellerLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sellerhome.SellerHome"
            android:label="@string/title_activity_seller_home"/>
        <activity android:name=".sellerhome.ui.dashboard.AddItem"/>
        <activity android:name=".sellerhome.ui.dashboard.ViewItems"/>
        <activity android:name=".sellerhome.PasswordReset"/>
        <activity android:name=".sellerhome.SellerSignup"/>
    </application>

</manifest>